body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Martel', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 5%;
}
h3{
    font-size: 25px;
    font-weight: 900;
}
h4{
    font-size: 20px;
    font-weight: 600;
}
}
.orange-color{
    color: orange;
}
p{
    margin-bottom: 7%;
    margin-top: 7%;
}

.link-button{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #f44336;
    border-radius: 5px;
    padding: 14px 25px;
    font-weight: 700;
    color: white;
    
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-right: 10%;
}
.half-width img{
    width: 90%;
}
#vertical-line{
    border-left: 5px solid;
    border-color: #f44336;
    border-image-slice: 1;
    padding-left: 3%;

}
.blue-color{
    color: #000080;
}
.white-color{
    color: white;
}
.yellow-color{
    color: yellow;
}
.mis-vis-gol-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 1% gray;
}
.mis-vis-gol-item img{
    width: 50%;
}
#first-background-color{
    background-color: rgb(213, 214, 234);
}
#second-background-color{
    background-color: rgb(245, 213, 203);
}
#third-background-color{
    background-color: rgb(252, 243, 167);

}
#fourth-background-color{
    
    background-color: indigo;
    padding-bottom: 1px;
    
}
.margin-set{
    margin-left: 10%;
    margin-right: 10%;
}

footer p {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0;
    font-weight: 500;
    
}
footer h2{
    margin-bottom: 1%;
}
.padding-related{
    padding: 10px;
}